

USE master;
GO

-- =============================================
-- DROP OLD DATABASE
-- =============================================
IF DB_ID('DealerManagementSystem') IS NOT NULL
BEGIN
    ALTER DATABASE DealerManagementSystem SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE DealerManagementSystem;
    PRINT '🗑️ Old database dropped';
END
GO

-- =============================================
-- CREATE NEW DATABASE
-- =============================================
CREATE DATABASE DealerManagementSystem;
GO

USE DealerManagementSystem;
GO

PRINT '✅ Database DealerManagementSystem created';
PRINT '';
GO

-- =============================================
-- CREATE TABLES (Vehicle-Centric Design)
-- =============================================

-- 1. DEALER
CREATE TABLE Dealer (
    dealer_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    dealerName NVARCHAR(255) NOT NULL,
    phone VARCHAR(50),
    address NVARCHAR(500),
    createdby NVARCHAR(100),
    createddate DATETIME DEFAULT GETDATE(),
    status VARCHAR(20) NOT NULL DEFAULT 'ACTIVE'
);
PRINT '✅ Table 1: Dealer';

-- 2. USER
CREATE TABLE [User] (
    user_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    userName NVARCHAR(100) NOT NULL UNIQUE,
    fullName NVARCHAR(255),
    password NVARCHAR(255) NOT NULL,
    phone VARCHAR(50),
    email NVARCHAR(255) UNIQUE,
    role VARCHAR(50) NOT NULL,
    dealer_id BIGINT,
    createddate DATETIME DEFAULT GETDATE(),
    datemodified DATETIME,
    refreshTokenExpiryTime DATETIME2(6),
    resetToken VARCHAR(255),
    resetTokenExpiry DATETIME2(6),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
);
PRINT '✅ Table 2: User';

-- 3. CUSTOMER
CREATE TABLE Customer (
    customer_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    customerName NVARCHAR(255) NOT NULL,
    email NVARCHAR(255),
    phone VARCHAR(50),
    dealer_id BIGINT,
    createBy NVARCHAR(100),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
);
PRINT '✅ Table 3: Customer';

-- 4. VEHICLE MODEL
CREATE TABLE VehicleModel (
    model_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    name NVARCHAR(100) NOT NULL,
    description NVARCHAR(MAX),
    status NVARCHAR(50) NOT NULL DEFAULT 'ACTIVE',
    manufacturer NVARCHAR(100) NOT NULL DEFAULT 'VinFast',
    year INT NOT NULL DEFAULT 2024,
    body_type NVARCHAR(50)
);
PRINT '✅ Table 4: VehicleModel';

-- 5. VEHICLE VARIANT
CREATE TABLE VehicleVariant (
    variant_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    model_id BIGINT NOT NULL,
    name NVARCHAR(150) NOT NULL,
    image NVARCHAR(255),
    status NVARCHAR(50) NOT NULL DEFAULT 'ACTIVE',
    msrp DECIMAL(18, 2) NOT NULL DEFAULT 0,
    FOREIGN KEY (model_id) REFERENCES VehicleModel(model_id)
);
PRINT '✅ Table 5: VehicleVariant';

-- 6. VEHICLE DETAIL (1-1 with Variant)
CREATE TABLE VehicleDetail (
    detail_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    variant_id BIGINT NOT NULL UNIQUE,
    dimensions_mm NVARCHAR(100),
    wheelbase_mm INT,
    ground_clearance_mm INT,
    curb_weight_kg INT,
    seating_capacity INT,
    trunk_capacity_liters INT,
    engine_type NVARCHAR(255),
    max_power NVARCHAR(100),
    max_torque NVARCHAR(100),
    top_speed_kmh INT,
    drivetrain NVARCHAR(100),
    drive_modes NVARCHAR(255),
    battery_capacity_kwh DECIMAL(10, 2),
    range_per_charge_km INT,
    charging_time NVARCHAR(255),
    exterior_features NVARCHAR(MAX),
    interior_features NVARCHAR(MAX),
    airbags NVARCHAR(100),
    braking_system NVARCHAR(255),
    has_esc BIT,
    has_tpms BIT,
    has_rear_camera BIT,
    has_child_lock BIT,
    CONSTRAINT FK_VehicleDetail_VehicleVariant FOREIGN KEY (variant_id) 
        REFERENCES VehicleVariant(variant_id) ON DELETE CASCADE
);
PRINT '✅ Table 6: VehicleDetail';

-- 7. MANUFACTURER STOCK (Warehouse Container - NO variant/color/quantity)
CREATE TABLE ManufacturerStock (
    manufacturer_stock_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    warehouse_name NVARCHAR(100) NOT NULL,
    location NVARCHAR(255),
    status NVARCHAR(50) DEFAULT 'ACTIVE'
);
PRINT '✅ Table 7: ManufacturerStock (warehouse container)';

-- 8. INVENTORY STOCK (Dealer Warehouse Container - NO variant/color/quantity)
CREATE TABLE InventoryStock (
    stock_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    dealer_id BIGINT NOT NULL,
    status NVARCHAR(50) DEFAULT 'ACTIVE',
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
);
PRINT '✅ Table 8: InventoryStock (dealer warehouse)';

-- 9. VEHICLE (Central Entity with VIN)
CREATE TABLE Vehicle (
    vehicle_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    vin_number NVARCHAR(100) NOT NULL UNIQUE,
    variant_id BIGINT NOT NULL,
    color NVARCHAR(50) NOT NULL,
    manufacture_date DATE,
    warranty_expiry_date DATE,
    status NVARCHAR(50), -- IN_MANUFACTURER_STOCK, IN_DEALER_STOCK, SOLD, IN_TRANSIT
    manufacturer_stock_id BIGINT,
    inventory_stock_id BIGINT,
    FOREIGN KEY (variant_id) REFERENCES VehicleVariant(variant_id),
    FOREIGN KEY (manufacturer_stock_id) REFERENCES ManufacturerStock(manufacturer_stock_id),
    FOREIGN KEY (inventory_stock_id) REFERENCES InventoryStock(stock_id),
    CONSTRAINT CHK_Vehicle_Location CHECK (
        (manufacturer_stock_id IS NOT NULL AND inventory_stock_id IS NULL) OR
        (manufacturer_stock_id IS NULL AND inventory_stock_id IS NOT NULL) OR
        (manufacturer_stock_id IS NULL AND inventory_stock_id IS NULL AND status = 'SOLD')
    )
);
PRINT '✅ Table 9: Vehicle (central entity)';

-- 10. SALE PRICE
CREATE TABLE SalePrice (
    saleprice_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    dealer_id BIGINT NOT NULL,
    variant_id BIGINT NOT NULL,
    price DECIMAL(18, 2) NOT NULL,
    effectivedate DATE,
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (variant_id) REFERENCES VehicleVariant(variant_id)
);
PRINT '✅ Table 10: SalePrice';

-- 11. PROMOTIONS
CREATE TABLE Promotions (
    promo_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    dealer_id BIGINT,
    title NVARCHAR(255) NOT NULL,
    description NVARCHAR(MAX),
    discount_rate DECIMAL(5, 2),
    start_date DATE,
    end_date DATE,
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
);
PRINT '✅ Table 11: Promotions';

-- 12. PROMOTION VEHICLE (Many-to-Many)
CREATE TABLE PromotionVehicle (
    promo_id BIGINT NOT NULL,
    vehicle_id BIGINT NOT NULL,
    PRIMARY KEY (promo_id, vehicle_id),
    FOREIGN KEY (promo_id) REFERENCES Promotions(promo_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id)
);
PRINT '✅ Table 12: PromotionVehicle';

-- 13. PROMOTION DEALER (Many-to-Many)
CREATE TABLE PromotionDealer (
    promo_id BIGINT NOT NULL,
    dealer_id BIGINT NOT NULL,
    PRIMARY KEY (promo_id, dealer_id),
    FOREIGN KEY (promo_id) REFERENCES Promotions(promo_id),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
);
PRINT '✅ Table 13: PromotionDealer';

-- 14. TEST DRIVE
CREATE TABLE TestDrive (
    testdrive_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    dealer_id BIGINT,
    customer_id BIGINT,
    vehicle_id BIGINT,
    scheduled_date DATETIME,
    status NVARCHAR(30) DEFAULT 'SCHEDULED',
    notes NVARCHAR(500),
    assigned_by NVARCHAR(100),
    created_date DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id)
);
PRINT '✅ Table 14: TestDrive';

-- 15. FEEDBACK
CREATE TABLE Feedback (
    feedback_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    testdrive_id BIGINT,
    description NVARCHAR(255),
    feedbackType NVARCHAR(255),
    content NVARCHAR(255),
    status NVARCHAR(255),
    FOREIGN KEY (testdrive_id) REFERENCES TestDrive(testdrive_id)
);
PRINT '✅ Table 15: Feedback';

-- 16. DEALER REQUEST
CREATE TABLE DealerRequest (
    request_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    dealer_id BIGINT NOT NULL,
    user_id BIGINT NOT NULL,
    request_date DATETIME DEFAULT GETDATE(),
    required_date DATETIME,
    status NVARCHAR(20) DEFAULT 'PENDING',
    priority NVARCHAR(10) DEFAULT 'NORMAL',
    notes NVARCHAR(500),
    approved_date DATETIME,
    approved_by NVARCHAR(100),
    shipped_date DATETIME,
    delivery_date DATETIME,
    total_amount DECIMAL(18, 2),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (user_id) REFERENCES [User](user_id)
);
PRINT '✅ Table 16: DealerRequest (with shipped_date)';

-- 17. DEALER REQUEST DETAIL
CREATE TABLE DealerRequestDetail (
    detail_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    request_id BIGINT NOT NULL,
    variant_id BIGINT NOT NULL,
    color NVARCHAR(50),
    quantity INT NOT NULL,
    unit_price DECIMAL(18, 2),
    notes NVARCHAR(255),
    FOREIGN KEY (request_id) REFERENCES DealerRequest(request_id),
    FOREIGN KEY (variant_id) REFERENCES VehicleVariant(variant_id)
);
PRINT '✅ Table 17: DealerRequestDetail (with color)';

-- 18. ORDER
CREATE TABLE [Order] (
    order_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    customer_id BIGINT NOT NULL,
    user_id BIGINT NOT NULL,
    dealer_id BIGINT NOT NULL,
    total_price DECIMAL(18, 2),
    payment_method NVARCHAR(50),
    createddate DATETIME DEFAULT GETDATE(),
    status VARCHAR(50) DEFAULT 'PENDING',
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (user_id) REFERENCES [User](user_id),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
);
PRINT '✅ Table 18: Order';

-- 19. ORDER DETAIL
CREATE TABLE OrderDetail (
    orderdetail_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    order_id BIGINT NOT NULL,
    vehicle_id BIGINT NOT NULL,
    promotion_id BIGINT,
    quantity INT NOT NULL,
    price DECIMAL(18, 2) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES [Order](order_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id),
    FOREIGN KEY (promotion_id) REFERENCES Promotions(promo_id)
);
PRINT '✅ Table 19: OrderDetail';

-- 20. PAYMENT
CREATE TABLE Payment (
    payment_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    order_id BIGINT,
    amount DECIMAL(18, 2),
    status VARCHAR(255),
    payment_method NVARCHAR(50),
    payment_date DATETIME,
    FOREIGN KEY (order_id) REFERENCES [Order](order_id)
);
PRINT '✅ Table 20: Payment';

-- 21. DEBT
CREATE TABLE Debt (
    debt_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    user_id BIGINT,
    dealer_id BIGINT,
    customer_id BIGINT,
    amount_due DECIMAL(18, 2),
    amount_paid DECIMAL(18, 2) DEFAULT 0,
    status VARCHAR(255) DEFAULT 'OUTSTANDING',
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (user_id) REFERENCES [User](user_id)
);
PRINT '✅ Table 21: Debt';

-- 22. DEBT SCHEDULE
CREATE TABLE DebtSchedule (
    schedule_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    debt_id BIGINT NOT NULL,
    period_no BIGINT,
    start_balance DECIMAL(18, 2),
    principal DECIMAL(18, 2),
    interest DECIMAL(18, 2),
    installment DECIMAL(18, 2),
    end_balance DECIMAL(18, 2),
    due_date DATE,
    paid_amount DECIMAL(18, 2) DEFAULT 0,
    payment_date DATE,
    status NVARCHAR(20) DEFAULT 'PENDING',
    notes NVARCHAR(255),
    FOREIGN KEY (debt_id) REFERENCES Debt(debt_id)
);
PRINT '✅ Table 22: DebtSchedule';

-- 23. DEBT PAYMENT
CREATE TABLE DebtPayment (
    payment_id BIGINT IDENTITY(1,1) PRIMARY KEY,
    debt_id BIGINT NOT NULL,
    schedule_id BIGINT,
    amount DECIMAL(18, 2) NOT NULL,
    payment_date DATETIME DEFAULT GETDATE(),
    payment_method NVARCHAR(50),
    reference_number NVARCHAR(100),
    notes NVARCHAR(500),
    created_by NVARCHAR(100),
    FOREIGN KEY (debt_id) REFERENCES Debt(debt_id),
    FOREIGN KEY (schedule_id) REFERENCES DebtSchedule(schedule_id)
);
PRINT '✅ Table 23: DebtPayment';

PRINT '';
PRINT '========================================';
PRINT '📊 SCHEMA CREATION COMPLETED';
PRINT '========================================';
PRINT 'Total tables: 23';
PRINT 'Schema: Vehicle-Centric Design v2.0';
PRINT '';
GO

-- =============================================
-- INSERT SAMPLE DATA
-- =============================================
PRINT '📝 Inserting sample data...';
PRINT '';

-- 1. Dealers
SET IDENTITY_INSERT Dealer ON;
INSERT INTO Dealer (dealer_id, dealerName, phone, address, createdby, status) VALUES
(1, N'VinFast Hà Nội', '0241234567', N'123 Đường Láng, Đống Đa, Hà Nội', 'system', 'ACTIVE'),
(2, N'VinFast TP.HCM', '0281234567', N'456 Nguyễn Văn Linh, Quận 7, TP.HCM', 'system', 'ACTIVE'),
(3, N'VinFast Đà Nẵng', '0236123456', N'789 Ngũ Hành Sơn, Đà Nẵng', 'evmStaff', 'ACTIVE');
SET IDENTITY_INSERT Dealer OFF;
PRINT '✅ Dealers (3 rows)';

-- 2. Users
SET IDENTITY_INSERT [User] ON;
SET IDENTITY_INSERT [User] OFF;
PRINT '✅ Users (5 rows)';

-- 3. Customers
SET IDENTITY_INSERT Customer ON;
INSERT INTO Customer (customer_id, customerName, email, phone, dealer_id, createBy) VALUES
(1, N'Phạm Minh Tuấn', 'tuan.pham@email.com', '0901234567', 1, 'dealerStaff1'),
(2, N'Hoàng Thị Mai', 'mai.hoang@email.com', '0902345678', 1, 'dealerStaff1'),
(3, N'Đặng Văn Hùng', 'hung.dang@email.com', '0903456789', 2, 'dealerManager2');
SET IDENTITY_INSERT Customer OFF;
PRINT '✅ Customers (3 rows)';

-- 4. Vehicle Models
SET IDENTITY_INSERT VehicleModel ON;
INSERT INTO VehicleModel (model_id, name, description, manufacturer, year, body_type) VALUES
(1, 'VF 5', N'SUV hạng A - Xe điện đô thị', 'VinFast', 2024, 'A-SUV'),
(2, 'VF 6', N'SUV hạng B - Xe điện gia đình', 'VinFast', 2024, 'B-SUV'),
(3, 'VF 8', N'SUV hạng D - Xe điện cao cấp', 'VinFast', 2024, 'D-SUV'),
(4, 'VF 9', N'SUV hạng E - Xe điện đẳng cấp', 'VinFast', 2024, 'E-SUV');
SET IDENTITY_INSERT VehicleModel OFF;
PRINT '✅ VehicleModels (4 rows)';

-- 5. Vehicle Variants
SET IDENTITY_INSERT VehicleVariant ON;
INSERT INTO VehicleVariant (variant_id, model_id, name, msrp, status) VALUES
(1, 1, 'Plus', 540000000, 'ACTIVE'),
(2, 2, 'Eco', 675000000, 'ACTIVE'),
(3, 2, 'Plus', 765000000, 'ACTIVE'),
(4, 3, 'Eco', 1090000000, 'ACTIVE'),
(5, 3, 'Plus', 1270000000, 'ACTIVE'),
(6, 4, 'Eco', 1491000000, 'ACTIVE'),
(7, 4, 'Plus', 1685000000, 'ACTIVE');
SET IDENTITY_INSERT VehicleVariant OFF;
PRINT '✅ VehicleVariants (7 rows)';

-- 6. Vehicle Details
SET IDENTITY_INSERT VehicleDetail ON;
SET IDENTITY_INSERT VehicleDetail OFF;
PRINT '✅ VehicleDetails (7 rows)';

-- 7. Manufacturer Stock (Warehouses)
SET IDENTITY_INSERT ManufacturerStock ON;
INSERT INTO ManufacturerStock (manufacturer_stock_id, warehouse_name, location, status) VALUES
(1, N'Kho Tổng VinFast Hải Phòng', N'Hải Phòng, Việt Nam', 'ACTIVE');
SET IDENTITY_INSERT ManufacturerStock OFF;
PRINT '✅ ManufacturerStock warehouses (1 row)';

-- 8. Inventory Stock (Dealer Warehouses)
SET IDENTITY_INSERT InventoryStock ON;
INSERT INTO InventoryStock (stock_id, dealer_id, status) VALUES
(1, 1, 'ACTIVE'), -- VinFast Hà Nội
(2, 2, 'ACTIVE'), -- VinFast TP.HCM
(3, 3, 'ACTIVE'); -- VinFast Đà Nẵng
SET IDENTITY_INSERT InventoryStock OFF;
PRINT '✅ InventoryStock warehouses (3 rows)';

-- 9. Vehicles (with VIN, variant, color, location)
SET IDENTITY_INSERT Vehicle ON;
SET IDENTITY_INSERT Vehicle OFF;
PRINT '✅ Vehicles (12 rows with VIN)';

-- 10. Sale Prices
SET IDENTITY_INSERT SalePrice ON;
INSERT INTO SalePrice (saleprice_id, dealer_id, variant_id, price, effectivedate) VALUES
(1, 1, 1, 540000000, '2024-10-01'),
(2, 1, 4, 1090000000, '2024-10-01'),
(3, 2, 3, 765000000, '2024-10-05'),
(4, 2, 7, 1685000000, '2024-10-05');
SET IDENTITY_INSERT SalePrice OFF;
PRINT '✅ SalePrices (4 rows)';

-- 11. Promotions
SET IDENTITY_INSERT Promotions ON;
INSERT INTO Promotions (promo_id, dealer_id, title, description, discount_rate, start_date, end_date) VALUES
(1, 1, N'Khuyến mãi VF 5', N'Giảm 2% cho VF 5', 2.00, '2024-10-01', '2024-12-31'),
(2, 2, N'Khuyến mãi VF 9', N'Giảm 3% cho VF 9', 3.00, '2024-10-01', '2024-12-31'),
(3, NULL, N'Khuyến mãi toàn hệ thống', N'Giảm 1% cho tất cả xe', 1.00, '2024-11-01', '2024-11-30');
SET IDENTITY_INSERT Promotions OFF;
PRINT '✅ Promotions (3 rows)';

-- 12. Promotion Vehicle (Many-to-Many)
INSERT INTO PromotionVehicle (promo_id, vehicle_id) VALUES
(1, 8), -- Promo VF 5 applies to VF5 in dealer stock
(1, 9),
(2, 12), -- Promo VF 9 applies to VF9 in dealer stock
(3, 8), -- System-wide promo applies to all
(3, 10),
(3, 11);
PRINT '✅ PromotionVehicle (6 rows)';

-- 13. Promotion Dealer (Many-to-Many)
INSERT INTO PromotionDealer (promo_id, dealer_id) VALUES
(1, 1), -- Promo 1 for Dealer 1
(2, 2), -- Promo 2 for Dealer 2
(3, 1), -- System-wide for all dealers
(3, 2),
(3, 3);
PRINT '✅ PromotionDealer (5 rows)';

-- 14. Test Drives
SET IDENTITY_INSERT TestDrive ON;
INSERT INTO TestDrive (testdrive_id, dealer_id, customer_id, vehicle_id, scheduled_date, status, assigned_by) VALUES
(1, 1, 1, 8, '2024-10-25 10:00:00', 'SCHEDULED', 'dealerStaff1'),
(2, 1, 2, 9, '2024-10-26 14:00:00', 'SCHEDULED', 'dealerStaff1'),
(3, 2, 3, 11, '2024-10-27 09:00:00', 'COMPLETED', 'dealerManager2');
SET IDENTITY_INSERT TestDrive OFF;
PRINT '✅ TestDrives (3 rows)';

-- 15. Feedback
SET IDENTITY_INSERT Feedback ON;
INSERT INTO Feedback (feedback_id, testdrive_id, description, feedbackType, content, status) VALUES
(1, 3, N'Xe rất tốt', 'POSITIVE', N'Lái êm, thoải mái', 'REVIEWED');
SET IDENTITY_INSERT Feedback OFF;
PRINT '✅ Feedbacks (1 row)';

-- 16. Dealer Requests
SET IDENTITY_INSERT DealerRequest ON;
INSERT INTO DealerRequest (request_id, dealer_id, user_id, request_date, status, notes) VALUES
(1, 1, 3, '2024-10-20', 'PENDING', N'Yêu cầu bổ sung xe VF 5'),
(2, 2, 5, '2024-10-19', 'APPROVED', N'Đã duyệt, chờ phân bổ');
SET IDENTITY_INSERT DealerRequest OFF;
PRINT '✅ DealerRequests (2 rows)';

-- 17. Dealer Request Details (with color)
SET IDENTITY_INSERT DealerRequestDetail ON;
INSERT INTO DealerRequestDetail (detail_id, request_id, variant_id, color, quantity, unit_price) VALUES
(1, 1, 1, N'Đỏ', 5, 540000000),
(2, 1, 3, N'Trắng', 3, 765000000),
(3, 2, 4, N'Đen', 2, 1090000000);
SET IDENTITY_INSERT DealerRequestDetail OFF;
PRINT '✅ DealerRequestDetails (3 rows with color)';

-- 18. Orders
SET IDENTITY_INSERT [Order] ON;
INSERT INTO [Order] (order_id, customer_id, user_id, dealer_id, total_price, payment_method, createddate, status) VALUES
(1, 1, 4, 1, 529200000, N'Chuyển khoản', '2024-10-22', 'COMPLETED'),
(2, 3, 5, 2, 1634950000, N'Chuyển khoản', '2024-10-23', 'COMPLETED');
SET IDENTITY_INSERT [Order] OFF;
PRINT '✅ Orders (2 rows)';

-- 19. Order Details
SET IDENTITY_INSERT OrderDetail ON;
INSERT INTO OrderDetail (orderdetail_id, order_id, vehicle_id, promotion_id, quantity, price) VALUES
(1, 1, 8, 1, 1, 529200000), -- VF5 with 2% discount
(2, 2, 12, 2, 1, 1634950000); -- VF9 with 3% discount
SET IDENTITY_INSERT OrderDetail OFF;
PRINT '✅ OrderDetails (2 rows)';

-- 20. Payments
SET IDENTITY_INSERT Payment ON;
INSERT INTO Payment (payment_id, order_id, amount, status, payment_method, payment_date) VALUES
(1, 1, 529200000, 'COMPLETED', N'Chuyển khoản', '2024-10-22'),
(2, 2, 1634950000, 'COMPLETED', N'Chuyển khoản', '2024-10-23');
SET IDENTITY_INSERT Payment OFF;
PRINT '✅ Payments (2 rows)';

-- 21. Debts
SET IDENTITY_INSERT Debt ON;
INSERT INTO Debt (debt_id, user_id, dealer_id, customer_id, amount_due, amount_paid, status) VALUES
(1, 4, 1, 1, 529200000, 100000000, 'OUTSTANDING'),
(2, 5, 2, 3, 1634950000, 500000000, 'OUTSTANDING');
SET IDENTITY_INSERT Debt OFF;
PRINT '✅ Debts (2 rows)';

-- 22. Debt Schedules
SET IDENTITY_INSERT DebtSchedule ON;
INSERT INTO DebtSchedule (schedule_id, debt_id, period_no, start_balance, principal, interest, installment, end_balance, due_date, paid_amount, status) VALUES
(1, 1, 1, 529200000, 100000000, 10000000, 110000000, 429200000, '2024-11-22', 110000000, 'PAID'),
(2, 1, 2, 429200000, 100000000, 8584000, 108584000, 329200000, '2024-12-22', 0, 'PENDING'),
(3, 2, 1, 1634950000, 300000000, 32699000, 332699000, 1334950000, '2024-11-23', 332699000, 'PAID'),
(4, 2, 2, 1334950000, 300000000, 26699000, 326699000, 1034950000, '2024-12-23', 167301000, 'PARTIAL');
SET IDENTITY_INSERT DebtSchedule OFF;
PRINT '✅ DebtSchedules (4 rows)';

-- 23. Debt Payments
SET IDENTITY_INSERT DebtPayment ON;
INSERT INTO DebtPayment (payment_id, debt_id, schedule_id, amount, payment_date, payment_method, created_by) VALUES
(1, 1, 1, 110000000, '2024-10-25', N'Chuyển khoản', 'dealerStaff1'),
(2, 2, 3, 332699000, '2024-10-26', N'Chuyển khoản', 'dealerManager2'),
(3, 2, 4, 167301000, '2024-11-15', N'Chuyển khoản', 'dealerManager2');
SET IDENTITY_INSERT DebtPayment OFF;
PRINT '✅ DebtPayments (3 rows)';

PRINT '';
PRINT '========================================';
PRINT '🎉 DATABASE SETUP COMPLETED!';
PRINT '========================================';
PRINT 'Database: DealerManagementSystem';
PRINT 'Schema: Vehicle-Centric Design v2.0';
PRINT 'Total tables: 23';
PRINT 'Sample data: ✅ ALL TABLES POPULATED';
PRINT '';
PRINT '📋 Summary:';
PRINT '  - 3 Dealers, 5 Users, 3 Customers';
PRINT '  - 4 Models, 7 Variants, 7 Details';
PRINT '  - 1 Manufacturer Warehouse, 3 Dealer Warehouses';
PRINT '  - 12 Vehicles (7 in manufacturer, 5 in dealers)';
PRINT '  - 3 Promotions (with vehicle & dealer mappings)';
PRINT '  - 3 TestDrives, 1 Feedback';
PRINT '  - 2 DealerRequests (with color in details)';
PRINT '  - 2 Orders, 2 Payments';
PRINT '  - 2 Debts, 4 Schedules, 3 DebtPayments';
PRINT '========================================';
GO
